body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw; /* full viewport width */
    padding: 0; /* remove padding */
    margin: 0; /* remove margin */
    background-image: url('../img/forgotpassword.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


